/* PHASE 11: Icons */

[class*="icon-"] {
  display: inline-block;
  background-image: url("../images/sprite.png");
  background-size: 25px 250px;
  vertical-align: bottom;
  width: 25px;
  height: 0;
  overflow: hidden;
  padding-top: 25px;
}
.icon-comment {
  background-position: 0 0;
}

.icon-reblog{
  background-position: 0px -100px;
  
}

.icon-favorite{
  background-position: 0px -50px;
}
